/* You can add global styles to this file, and also import other style files */

/* Importar fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* Importar estilos organizados por responsabilidade */
@import './styles/variables.css';
@import './styles/reset.css';
@import './styles/utilities.css';
@import './styles/typography.css';
@import './styles/components.css';
@import './styles/forms.css';
@import './styles/primeng-overrides.css';